<%= render 'shared/banner' %>
<div class="body-homepage">
  <%= render 'shared/recommended',{studios: @studios } %>
</div>
<%= render 'shared/separator' %>
<%= render 'shared/advantage' %>
<%= render 'shared/separator' %>
<%= render 'shared/credentials' %>
