<h1> <%= current_user.id %> </h1>

<ul>
  <% @reservations.each do |reservation| %>
    <li> <%= reservation.date %> </li>
    <li> <%= reservation.status %> </li>
 <% end %>
 </ul>

 <ul>
  <% @studios.each do |studio| %>
    <li> <%= studio.name %> </li>
    <li> <%= studio.address %> </li>
    <li> <%= studio.photo_url %> </li>
    <li> <%= studio.opening_hour %> </li>
    <li> <%= studio.closing_hour %> </li>
    hi
 <% end %>
 </ul>
