<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Create a new studio</h1>
        <%= simple_form_for @studio do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <form method="post" action="/home" enctype="multipart/form-data">
		      <p>
		      	<input type="file" name="file" autocomplete="off" required>
		      </p>
        <%= f.input :opening_hour %>
        <%= f.input :closing_hour %>
        <%= f.input :price %>
        <%= f.submit class: 'btn btn-primary' input onclick="window.location.href = 'https://www.tutorialspoint.com/online_html_editor.php';" %>
      <% end %>
    </div>
  </div>
</div>


<%# form container + doesn't work (link) + redirect (as soon as they create studio) + image thing%>
<%# if else statement?%>
<%# link image and submit form to => new stuff%>

<%# cloudinary => upload photo%>
<%# redirect to homepage%>
