
  <div class="title-studio">
    <h1><%= @studio.name %></h1>
    <p><%= @studio.address %></p>
  </div>

    <div class="box-reservation">
      <div class="image-studio">
      <%# image hardcoded rn, pls change later %>
        <%= cl_image_tag @studio.photo_url.key  %>
      </div>
      <div class="reservation-box">
        <div class="reservation-studio">
          <div class="top-box-reservation">
            <h4> <%= @studio.price%>€</h4>
          </div>
          <div class="button-reservation">
            <%= link_to "book this studio", new_studio_reservation_path(@studio) %>
          </div>
          <p>reserve now, pay later!</p>
        </div>
      </div>
    </div>
  </div>
